<html>
    <head>
    </head>

    <body>
        <h1>
            <%=title %>
        </h1>
        <h2>
            List Of employees :
        </h2>
        <ul>
            <% for(var i=0; i<list.length; i++){ %>
                <li>
                    <%=list[i] %>
                </li>
            <%}%>
        </ul>
    </body>
</html>